<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>

    <%- include('./partials/header') %>


    <h1 class="heroes__h1">
        <%= mensaje %>
    </h1>

<main>
    <ul>
        <% for( let i = 0; i < lista.length; i++ ) { %>
            <h3>Nombre: <%= lista[i].nombre %></h3>  
            <h3>Integrantes: <%= lista[i].integrantes %></h3>  
            <h3>Genero: <%= lista[i].genero %></h3>  
            <h3>TopCanciones: <%= lista[i].topCanciones %></h3>
            <h3>Cover:</h3>
            <a href="/<%= lista[i].id %>"><img src="<%= lista[i].cover %>" alt="bandas" width="250px" height="250px"></a> 
            <h3><a href="<%= lista[i].video %>" target="_blank"><%= lista[i].video %></a></h3>
        <% } %>
     </ul>
</main>

<%- include('./partials/footer') %>

</body>
</html>