<!DOCTYPE html>
<html lang="es">
    </html><%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>

    <h1 class="heroes__h1">
        <%= Genero %>
    </h1>
    

    <ul>
        <% for (let i = 0; i < lista.length; i++) { %>
            <li>
                <a href="/<%= lista[i].id %>">
                    <img src="/<%= lista[i].cover %>" alt="<%= lista[i].nombre %>">
                    <h2><%= lista[i].nombre %></h2>
                </a>
            </li>
        <% } %>
    </ul>

   

   
<%- include('./partials/footer') %>
</body>
</html>